<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="./">
    <link rel="stylesheet" type="text/css" href="C:\127.0.0.1:8080\public\css\index.css" />
    <title>FlaskBlog</title>
</head>
<body>


<h1><i>Item</i> Description for CD</h1>

<form method="post" action="/">
    <p>
    <label id="artist">Artist:</label> <input name="artist"/><br>
    <label id="album">Album:</label> <input name="album"/><br>
    <label id="artist">Title:</label> <input name="title"/><br>
    <label id="artist">Release Date (YYMMDD):</label> <input name="release_date"/><br>
    <label id="artist">Versions (comma separated):</label> <input name="versions"/><br>
    <label id="artist">Package:</label> <input name="package"/> <label id = "package_desc">Description:</label> <input name="package_desc"/><button type="add_package">Add</button><br>
    <label id="artist">Tracklist (comma separated):</label> <input name="tracklist"/><br>
    <button type="submit">Submit</button>
    </p>
</form>
</body>
</html>